body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;

}

h1{
    font-size: 40px;
    color: antiquewhite;
}


header{
    border: black solid;

}
